<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Do not rewrite API requests (let Passenger handle /api)
  RewriteCond %{REQUEST_URI} ^/api [NC]
  RewriteRule .* - [L]

  # Direct all other routes to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
